---
import Home from '../layouts/Home.astro';
import Card from '../components/Card.astro';
---

<Home>
	<main>
		<div id="title">
			<code>dexter.tam [at] mail.utoronto.ca</code>
			<h1>Dexter Tam Long Hang</h1>
		</div>
		<div id="media">
			<a href="https://github.com/taml5" target="_blank" class="social">
				<img src="./github-outline.svg"/>
			</a>
			<a href="https://www.linkedin.com/in/dexter-tam/" target="_blank" class="social">
				<img src="./linkedin-outline.svg"/>
			</a>
		</div>
		<div id="blurb">
			<img src="./f3.jpg">
			<div>
				<p>
					I'm a fourth year undergraduate in the University of Toronto, specialising in Computer Science with a minor in Philosophy. Currently, I'm on my work year as an Intern Developer at Jamieson Wellness.
				</p>
				<p>
					Recently, I've been exploring web development, computer graphics, and machine learning. In my free time, I like to play the classical guitar and video games. I've also been a part of the Kendo club at UofT this year.
				</p>
			</div>
		</div>
		<div id="projects">
			<hr>
			<ul>
				<Card
					title="2.5D Raycaster Engine"
					body="A 2.5D graphics engine in the style of Doom, with lighting, texture mapping, and 1-bit styling."
					img="./graphics.png"
					github="https://github.com/taml5/engine"
					tech="C, GLFW"
				/>
				<Card
					title="MNIST Neural Network"
					body="A graphical interface to interact with a feedforward neural network recognising handwritten digits from the MNIST dataset."
					img="./mnist.png"
					github="https://github.com/taml5/mnist"
					tech="Python, numpy, ReactJS"
				/>
				<Card
					title="LLM Practice Exam Generator"
					body="A full-stack LLM-based application to generate practice maths questions based on previous exams. The final group project for CSC301 at UofT."
					img="./csc301.png"
					tech="Python, Gemini, Cohere, Flask, PostgreSQL"
				/>
				<Card
					title="RSS Subscription Manager"
					body="An RSS reader built using Python and SQLite for the backend and ReactJS (Typescript, SCSS) for the frontend."
					img="./rss.png"
					github="https://github.com/taml5/rss-reader"
					tech="Python, SQLite, ReactJS"
				/>
				<Card
					title="AI Healthcare Chatbot"
					body="Chatbot aimed to connect patients to doctors through a simple preliminary diagnosis using AI. The final group project for CSC207 at UofT."
					img="./benson.png"
					github="https://github.com/Accusamus2065/Easy-Healthcare"
					tech="Java, DialogFlow, MongoDB"
				/>
			</ul>
		</div>
		<div id="leetcode">
			<a href="/leetcode/"> Leetcode </a>
		</div>
		<div id="colophon">
			<p>
				Updated Jan 2026 | Powered by <a href="https://astro.build/" target="_blank">Astro</a>
			</p>
		</div>
	</main>
</Home>

<style>
	main {
		display: flex;
		flex-direction: column;
		gap: 0;
		margin: 0 auto;
		padding: 2rem;
	}

	#title {
		align-items: center;
		display: flex;
		flex-direction: column-reverse;
		text-align: center;

		code {
			font-size:x-small;
			margin: 0.5rem 0;
		}

		h1 {
			font-size: xx-large;
			margin: 0;
		}
	}

	#media {
		display: flex;
		flex-direction: row;
		gap: 1rem;
		justify-content: center;

		.social img {
			max-width: 2rem;
		}
	}

	#blurb {
		font-size: small;
		padding-block-start: 1rem;
		text-align: center;

		img {
			max-width: 50%;
			border-radius: 50%;
		}
	}

	#projects {
		padding-inline: 1rem;

		ul {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
			gap: 1rem;
			padding: 0;
		}
	}

	#leetcode {
		margin-top: 2rem;

		a {
			text-decoration: none;
			font-size: large;
		}
	}

	#colophon {
		font-size: x-small;
		opacity: 20%;
		text-align: center;
	}

	@media only screen and (min-width: 768px) {
		#title {
			align-items: flex-start;
			display: flex;
			flex-direction: column;

			code {
				font-size: medium;
				margin: 0;
			}

			h1 {
				font-size: 60px;
			}
		}

		#media {
			display: flex;
			flex-direction: row;
			gap: 0.5rem;
			justify-content: flex-start;
		}

		#blurb {
			align-items: center;
			display: flex;
			font-size: medium;
			gap: 2rem;
			text-align: right;

			img {
				padding: 1rem;
				max-width: 25%;
				border-radius: 50%;
			}
		}
	}
</style>
