<div>
    <a href="/"> Home</a>
    <a href="/leetcode"> Leetcode </a>
</div>

<style>
    div {
        padding-block: 2rem;
    }

    a {
        text-decoration: none;
        margin-right: 1rem;
        font-size: 1.3rem;
    }
</style>