---
interface Props {
	href: string,
    img: string,
    name: string
}

const { href, img, name } = Astro.props;
---

<a href={href} target="_blank">
    <img src={img}/>
    {name}
</a>

<style>
    a {
        text-decoration: none;
        display: flex;
        align-items: center;
        gap: 0.2rem;        
    }
    a:visited {
        color:#000000;
    }
    a:link {
        color: #000000;
    }
    img {
			max-height: 1rem;
			margin-inline: 0.2rem;
    }
    p {
        font-size: smaller;
    }
</style>