---
interface Props {
	href: string,
    img: string,
    name: string
}

const { href, img, name } = Astro.props;
---

<a href={href} target="_blank">
    <img src={img}/>
    {name}
</a>

<style>
    a {
        align-items: center;
        display: flex;
        gap: 0.2rem;        
        text-decoration: none;
    }

    a:link {
        color: #000000;
    }

    a:visited {
        color: #000000;
    }

    img {
        margin-inline: 0.2rem;
        max-height: 1rem;
    }

    p {
        font-size: smaller;
    }
</style>