---
import Layout from '../../layouts/Leetcode.astro';

import Question from "../../components/leetcode/Question.astro";
import Review from "../../components/leetcode/Review.astro";
---

<Layout>
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    <h1>Arrays</h1>
    <ul>
        <Question 
            number={88} 
            title="Merge Sorted Array" 
            difficulty="Easy" 
            href="/leetcode/arrays/88"
        />
        <Question 
            number={121} 
            title="Best Time to Buy and Sell Stock" 
            difficulty="Easy" 
            href="/leetcode/arrays/121"
        />
        <Question
            number={217}
            title="Contains Duplicate"
            difficulty="Easy"
            href="/leetcode/arrays/217"
        />
        <Question 
            number={11} 
            title="Container With Most Water" 
            difficulty="Medium" 
            href="/leetcode/arrays/11"
        />
        <Question 
            number={53} 
            title="Maximum Subarray" 
            difficulty="Medium" 
            href="/leetcode/arrays/53"
        />
        <Question
            number={238}
            title="Product of Array Except Self"
            difficulty="Medium"
            href="/leetcode/arrays/238"
        />
    </ul>
    <h1>Dynamic Programming</h1>
    <ul>
        <Question 
            number={70} 
            title="Climbing Stairs" 
            difficulty="Easy" 
            href="/leetcode/dp/70"
        />
        <Question
            number={152}
            title="Maximum Product Subarray"
            difficulty="Medium"
            href="/leetcode/dp/152"
        />
        <Question 
            number={198} 
            title="House Robber" 
            difficulty="Medium" 
            href="/leetcode/dp/198"
        />
        <Question 
            number={322} 
            title="Coin Change" 
            difficulty="Medium" 
            href="/leetcode/dp/322"
        />
        <Question 
            number={377} 
            title="Combination Sum IV" 
            difficulty="Medium" 
            href="/leetcode/dp/377"
        />
    </ul>
    <h1>Trees</h1>
    <ul>
        <Question 
            number={100} 
            title="Same Tree" 
            difficulty="Easy" 
            href="/leetcode/trees/100"
        />
        <Question 
            number={98}
            title="Validate Binary Search Tree"
            difficulty="Medium"
            href="/leetcode/trees/98"
        />
        <Question
            number={102}
            title="Binary Tree Level Order Traversal"
            difficulty="Medium"
            href="/leetcode/trees/102"
        />
    </ul>
    <h1>Review</h1>
    <ul>
        <Review
            title="Dynammic Programming"
            href="/leetcode/review/dp"
        />
        <Review
            title="Graphs"
            href="/leetcode/review/graph"
        />
    </ul>
</Layout>
