.projectContainer {
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 0.5rem;
    justify-content: center;
}

@media screen and (min-width: 768px) {
    .projectContainer {
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 0.5rem;
    }
}