.social {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

#socialText {
    padding-left: 0.5em;
    font-size: smaller;
}

.logo {
    max-width: 2em;
    height: auto;
}