#titleCard {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

#headshot {
    width: 12%;
    min-width: 100px;
    border-radius: 50px;
    margin: 0.5em;
}

#titleText {
    text-align: left;
    padding: 1em;
}

#titleText h1 {
    margin: 0;
    font-size: x-large;
}

#titleText h2 {
    margin: 0;
    font-size: large
}

@media screen and (min-width: 768px) {
    #titleText h1 {
        font-size: 2em;
    }

    #titleText h2 {
        font-size: 1.5em;
    }
}